::-webkit-scrollbar {
    width: 5px; /* Ширина всего элемента навигации */
}

::-webkit-scrollbar-track {
    background: transparent; /* Цвет дорожки */
}

::-webkit-scrollbar-thumb {
    background-color: black; /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
    border: 3px solid black; /* Оформление границ бегунка */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    all: unset; /* Сбрасывает все стили */
    display: block; /* Устанавливаем display */
    cursor: pointer; /* Устанавливаем курсор в виде руки */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
    border: none; /* Убираем рамку */
    background: none; /* Убираем фон */
    font: inherit; /* Наследуем шрифт от родительского элемента */
    color: inherit; /* Наследуем цвет текста от родительского элемента */
    text-align: inherit; /* Наследуем выравнивание текста */
}

svg,
img{
    display: block;
    width: 100%;
    height: auto;
}

fieldset{
    border: none;
}


button svg,
button img{
    pointer-events: none;
}





/*utils*/
.d-none{
    display: none !important;
}

.opacity-0{
    opacity: 0 !important;
}

.hidden{
    visibility: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}